<div class="search-bar">
  <div class="container">
    <div class="search-box">
      <form method="GET" action="/items">
        <input type="text" name="search" id="search" value="<%= locals.query ? query : '' %>">
        <button title="Pesquisar"><span>Pesquisar</span></button>
      </form>
    </div>
  </div>
</div>